@font-face {
    font-family: Graphik-Medium;
    src: url(../fonts/Graphik-Medium.woff);
}
* {
  font-family: Graphik-Medium, sans-serif;
}
body {
  background-color: #f8f8f8;
}

img {
  width: 100%;
}
select {
  width: 100%;
  display: block;
  font-weight: 400;
  padding: 6.66667px 30px;
  padding-left: 6px;
  padding-right: 0;
  text-indent: .01px;
  text-overflow: "";
  background: transparent;
  border: 1px solid black;
  outline: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-height: 30px;
  background: transparent url(//res.cloudinary.com/ssenseweb/image/upload/v1422551406/web/dropdow-arrow-2xmargin-right.png) 100% no-repeat;
  background-size: 16px;
  cursor: pointer;
}
input {
  opacity: 0;
}

/* Main Product image styles */
.product-container {
  background-color: #f8f8f8;
  height: 100vh;
  min-height: 700px;
  margin-bottom: 5%;
}
.product-description {
  display: table;
  height: inherit;
}
.product-row {
  height: inherit;
}
.v-center {
  display: table-cell;
  vertical-align: middle;
}
.fixed-cols {
  position: fixed;
  width: 33.33333%
}
.text-col {
  height: 100%;
  left: 0;
}
.img-col {
  height: 100%;
  left: 33.3333%;
}
.form-col {
  height: 100%;
  left: 66.6666%;
}
.colors-div {
  border: 1px solid black;
  display: inline;
}
.colors-div * {
  display: inline;
}

.color-beige {
  background-color: #fddbb7;
}

.color-black {
  background-color: black;
  color: white;
}

/* Related products styles */
.related-container {
  background-color: white;
  position: absolute;
  top: 4200px;
}
.image-row {
  margin-top: 30px;
}

/* Mobile Styles */
.mobile-product-container {
  display: none;
}

@media (max-width: 768px) {
  .fixed-cols {
    position: relative;
    width: 100%;
  }
  .mobile-product-container {
    display: block;
    margin-bottom: 5%;
  }
  .product-container {
    display: none;
  }
  .related-container {
    position: relative;
    top: 0;
  }
}


/* Fix for owlCarousel not showing dots https://github.com/OwlCarousel2/OwlCarousel2/issues/1516 */

.owl-nav, .owl-dots {
  margin: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent
}
.owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}
.owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none
}
.owl-nav .disabled {
  opacity: .5;
  cursor: default
}
.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  /* display: inline */
}
.owl-dots .owl-dot span {
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  /* -ms-transition: opacity 200ms ease; */
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px
}
.owl-dots .owl-dot.active span,  .owl-dots .owl-dot:hover span {
  background: #869791
}
